.storytext{
    color: rgb(255, 0, 102);
    font-weight: 700;
    font-size: 25px;
}
.headerss{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 150px; */
    /* padding: 0;
    margin: 0 */
}
.headerstyle{
    background-color: black;
    float: left;
    height:75px;
}
.logo{
    height:100%;
}
.btnstyle{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 0, 102);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid rgb(255, 0, 102);

    /* float:right;  */
}
.btnsubmit{
    border: 1px solid rgb(255, 0, 102);
    background-color: rgb(255, 0, 102);
}
.main-container{
    padding-left: 0px;
    padding-right: 0px;
}

.views{
    background-color: rgb(255, 0, 102);
    border:rgb(255, 0, 102);
    float:right;
    margin-top: 27px;
    padding-right:40px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.viewstyle{
    color:black;
    text-decoration: none;
}
.story-container{
    float:left;
    margin-bottom: 40px;
}
.center{
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:250px;
    width:250px
}
.storytitle{
    background-color: rgb(255, 0, 102);
text-align:center;
color: white;
margin-left: 17px;
margin-right: 17px;
margin-bottom: 0px;
}
.centerview{
width:100%;
height:500px;
}
.moreDetailtiyle{
text-align:center;
color:rgb(255, 0, 102);
font-weight: 700;
margin-bottom: 20px;
}
