.wrapper {
    background-image: url('images/doctor.svg');
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100%;
}
html{
    margin: 0;
    padding: 0;
    width:100%;
}
.search {
    margin-top: 30px;
}

.menus{
    margin-top: 30px;
    padding-right: 40px;
}

.dashboard-header{
    background-color: #0A0910;
    height:100px;
}
.inner-image{
    display: none;
}

.button{
    background-color: rgb(255, 0, 102);
    padding:10px;
    font-size:16px;
    margin-top: 30px;
    color:white;
}

.button:hover{
    color:white;
    text-decoration: none;
} 

.travel_img {
    border:2px solid black;
    height:300px;
    width:100%;
}

.travel_simg {
    border:2px solid black;
    height:100px;
    width:150px;
    margin-top: 20px;
}
.travel_inner_img{
    border:2px solid black;
    height:300px;
    width:500px;
    margin-top: 20px;
}

.description {
    font-size: 18px;
    color:black;
    padding:30px;
}

.story {
    height:500px;
    border: 2px solid black;
    background-color: rgba(21, 91, 161, 0.3);
}

.main-container{
    margin-top: 50px;
}

.heading {
    color:white;
    font-size: 30px;
}
.container-data{
    float:left;
    margin-bottom: 20px;
}

.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float:left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.header
{
width: 100%;
height: 70px;
background-color: black;
}
.header h2{
color:white;
padding-left:20px;
padding-top: 1px;
display: inline-block;
}
.login
{
    float: right;
    padding: 20px;
    padding-top: 15px;
    color: white;
}
.login button
{
    width: 90px;
    font-size: 16px;
    font-weight: bold;
}
.error
{
    color: #d9534f;
    flex-wrap: bold;
}
@media only screen and (max-width:768px)
{
header
{
    width: auto;
    height: auto;
    padding-bottom: 10px;
    text-align: center;
}

}